<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-xs-2">Name</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.totalisator.name">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="control-label col-xs-2">Description</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="description" placeholder="Description" ng-model="vm.totalisator.description">
        </div>
    </div>
    <div class="form-group">
        <label for="winners" class="control-label col-xs-2">How many betors win?</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="winners" placeholder="Winners" ng-model="vm.totalisator.winnerCount">
        </div>
    </div>
    <div class="form-group">
        <label for="teams" class="control-label col-xs-2">Teams</label>
        <div class="col-xs-10">
            <tags-input ng-model="vm.teamsTags" on-tag-added="vm.addTeam($tag)"></tags-input>
        </div>
    </div>
    <div class="form-inline" ng-repeat="match in vm.totalisator.matches">
        <label class="control-label col-xs-2">Team Match</label>
        <div class="dropdown dropdown-scroll pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{match.homeTeam || 'Home team'}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <div class="input-group input-group-sm search-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Query" ng-model="vm.homeQuery"/>
                    </div>
                </li>
                <li role="presentation" ng-repeat="team in vm.totalisator.teams | filter:homeQuery">
                    <a href="" ng-click="match.homeTeam = team" ng-bind="team"></a>
                </li>
            </ul>
        </div>

        <div class="dropdown dropdown-scroll pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="awayTeamDropdown" data-toggle="dropdown">{{match.awayTeam || 'Away team'}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="awayTeamDropdown">
                <li role="presentation">
                    <div class="input-group input-group-sm search-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Query" ng-model="vm.awayQuery"/>
                    </div>
                </li>
                <li role="presentation" ng-repeat="team in vm.totalisator.teams | filter:awayQuery">
                    <a href="" ng-click="match.awayTeam = team" ng-bind="team"></a>
                </li>
            </ul>
        </div>
        <input type="text" class="form-control" id="match-date" placeholder="Match Date ('YYYY-MM-dd HH:mm')" ng-model="match.matchDate"/>
        <a href="" ng-click="vm.removeMatch($index)" class="btn btn-primary">Remove</a>
    </div>


    <div class="form-group">
        <div class="col-xs-10">
            <a href="" ng-disabled="!vm.atLeastTwoTeamsExist()" ng-click="vm.atLeastTwoTeamsExist() && vm.addNewMatch()" class="btn btn-primary">Add match</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary" ng-click="vm.saveTotalisator()">Finish</button>
        </div>
    </div>
</form>