<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-xs-2">Name</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.totalisator.name">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="control-label col-xs-2">Description</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="description" placeholder="Description" ng-model="vm.totalisator.description">
        </div>
    </div>
    <div class="form-group">
        <label for="winners" class="control-label col-xs-2">How many betors win?</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="winners" placeholder="Winners" ng-model="vm.totalisator.winnerCount">
        </div>
    </div>
    <div class="form-group">
        <label for="teams" class="control-label col-xs-2">Teams</label>

        <div class="col-xs-10">
            <input type="text" class="form-control" id="teams" placeholder="Teams" ng-model="vm.totalisator.teams">

            <p class="help-block">Comma separated list of teams</p>
        </div>
    </div>
    <div class="form-inline" ng-repeat="match in vm.totalisator.matches">
        <label for="home-team" class="control-label col-xs-2">Team Match</label>
        <input type="text" class="form-control" id="home-team" placeholder="Home Team" ng-model="match.homeTeam"/>
        <input type="text" class="form-control" id="away-team" placeholder="Away Team" ng-model="match.awayTeam"/>
        <input type="text" class="form-control" id="match-date" placeholder="Match Date ('YYYY-MM-dd HH:mm')" ng-model="match.matchDate"/>
        <a href="" ng-click="vm.removeMatch($index)" class="btn btn-primary">Remove</a>
    </div>


    <div class="form-group">
        <div class="col-xs-10">
            <a href="" ng-click="vm.addNewMatch()" class="btn btn-primary">Add match</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary">Finish</button>
        </div>
    </div>
</form>